<!DOCTYPE html>
<html>
	<head>

		<title>RizWiz Cycles : Online Cycle Shop</title>
	
  		<link href="" rel="icon">
		  <link href="css/style.css" rel="stylesheet">
  		<script src=""></script>

	</head>
<body id=body>
  
   <header id="header">
  	<div id="topbar">
    	<div id="logo">
      		<h1><a href="" >RizWiz Cycles<br><h6>Online Cycle Shop</h6></a></h1>
    	</div>
    	<div id="searchbar">
    		<form action="" method="POST">
    			<input type="text" name="searchbar" >
    			<input id="searchbtn" type="submit" name="search" size="10" value="Search">
    		</form>
    	</div>
    </div>
    
    <div id="navbar">
      <nav>
        <ul class="nav-menu">
          <li><a href="">Home</a></li>
        </ul> 
      </nav>
    </div>
  </header>

  <main id="main">
  	<div class="section-container">
  		
  	</div>	
  </main>
  
</body>
</html>